__pycache__/
*.py[cod]

.venv/
venv/
env/

build/
dist/
*.spec

models/
output/
screen/
summary_debug/
tools/
llm/
llm.txt
local_meeting_recorder_settings.json

*.mp3
*.wav
*.m4a
*.aac
*.log

main - Copy*.py
